.container{
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
}


.item{
  height: 12em;
  width: 12em;
  margin-left: 0.4em;
  margin-top: 1em;
  background-color: darkgray;
  transition: transform 0.2s;
  border: 2px;
  border-color: rgb(80, 80, 80);
  border-style: solid;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.item:hover {
  transform: scale(1.02);
}
.itemhead{
  width: 100%;
  max-height: 1em;
  text-align: center;
}

h1 {
  text-align: center;
  width: 100%;
}

button{
  width: 100%;
  font-weight: 400;
  font-size: large;
}

.itemtemp{
  width: 100%;
  height: 2em;
}

@media(max-width: 575px){
  .item{
    width: 45%;
    height: 18em;
  }
  .container{
    width: 100%;
    height: 100%;
  }
}