.container{
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
}


.item{
  height: 12em;
  width: 12em;
  margin-left: 0.4em;
  margin-top: 1em;
  background-color: darkgray;
  transition: transform 0.2s;
  border: 2px;
  border-color: rgb(80, 80, 80);
  border-style: solid;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  overflow: hidden;
}
.item:hover {
  transform: scale(1.02);
}

h1 {
  text-align: center;
  width: 100%;
}

button{
  width: 100%;
  font-weight: 300;
  font-size: medium;
}
.refresh:hover{
  color:rgb(20, 20, 20);
}


.itemtemp{
  width: 45%;
  height: 1.5em;
}

.stat{
  width: 46%;
  max-height: 46%;
  background-color: rgb(202, 202, 202);
  border-radius: 0.7em;
  border-width: 0.5em;
  margin: 0.2em;
  transition: transform 0.2s;
  overflow: hidden;
}

.wide{
  width: 100%;
}
.stat:hover {
  transform: scale(1.02);
}
.stat-header{
  width: 100%;
  text-align: center;
}
.stat-value{
  text-align: center;
  width: 100%;
}
.barchart {
  width: 100%;
  height: 2em;
  background-color: #eee;
  border-radius: 10px;
  overflow: hidden;
  margin-top: -8px;
}
.barchart-percent {
  background-color: #333;
  height: 100%;
}
.bold{
  font-weight: bold;
  font-size: x-large;
  margin-top: 0;
}
.card-wrapper{
  z-index: 1;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 10px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
  
  filter: none;
}
.card {
  width: 400px;
  height: fit-content;
  background: rgb(206, 128, 128);
  border-radius: 20px;
  border-color: rgb(94, 37, 37);
  border-width: 3px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 30px;
  position: relative;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.068);
}
.card-content {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.card-heading {
  width: 75%;
  font-size: 20px;
  font-weight: 700;
  color: rgb(27, 27, 27);
}
.card-description {
  font-weight: 100;
  color: rgb(52, 52, 52);
}
.card-button-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.card-button {
  width: 50%;
  height: 35px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}
.primary {
  background-color: rgb(255, 114, 109);
  color: white;
}
.primary:hover {
  background-color: rgb(255, 73, 66);
}
.secondary {
  background-color: #ddd;
}
.secondary:hover {
  background-color: rgb(197, 197, 197);
}
.exit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: absolute;
  width: 10%;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.exit-button:hover svg {
  fill: black;
}
.exit-button svg {
  fill: rgb(175, 175, 175);
}


@media(max-width: 575px){
  .item{
    width: 47%;
    height: 12em;
  }
  .container{
    width: 100%;
    height: 100%;
  }
}