<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

    <script type="text/javascript" src="/static/script.js"> </script>
    <link href="/static/style.css" rel="stylesheet" />
    <title>Fotobox</title>
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  <style>

  </style>

    </head>
<body>
  <h1>Fotobox</h1>
  <div class="container">
    <div class="item">
      <input class="itemtemp" type="text" readonly id="total_images" value="{{total_images}}">
      <input class="itemtemp" type="text" readonly id="total_images" value="{{total_collages}}">
      <input class="itemtemp" type="text" readonly id="disk_free">
      <input class="itemtemp" type="text" readonly id="disk_total">
      <input class="itemtemp" type="text" readonly id="disk_percentage">
      <input class="itemtemp" type="text" readonly id="time">


      <input class="itemtemp" type="button" value = "Hole Werte" onclick="OnButtonClickGetValues()">
      <input class="itemtemp" type="text" readonly id="values">
    </div>
    <div class="item" id="coloritem">
      <form method="post">
          Aktuelle Farbe:
        <input type="color" id="color-picker" name="color-picker" onchange="this.form.submit()"/>
        <input style="visibility: hidden;" type="submit" value="Submit">
      </form> 
      <div id="mydiv-color" data-color='{{ color }}'></div>
    </div>

    <div class="item">
      <button onclick="alertBeforeShutdownReboot('shutdown')">Herunterfahren</button>
      <br>
      <button onclick="alertBeforeShutdownReboot('reboot')">Neustarten</button>
    </div>
    <div class="item">
      <button onclick="location.href = '/downloadsingle';">Einzelnes Bild</button>
      <button onclick="location.href = '/download';">Alle Bilder (als .zip)</button>
    </div>
    </div>

        
</div>
<div style="height: 300px;width: 100%;"></div>
<h1>In Entwicklung</h1>
<div class="container">
  <div class="item">
    Insgesamt: 3 Ordner
    Ordner 1: 12 Fotos<br>
    Ordner 2: 24 Fotos<br>
    Ordner 3: 27 Fotos<br>
  </div>
  <div class="item">
    Fotobox-Prozesse: 2<br>
    take_photo_process<br>
    update_gallery_process
  </div>
  <div class="item">
    Backup<br>
    medium gefunden:<br>
    SANDISK ULTRA 32GB<br>
    <button>Backup durchführen</button>
    letztes Backup: 24.06.2024 18:43
  </div>
</div>

</body>
</html>
